<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="num1" id="">
        <input type="text" name="num2" id="">
        <input type="submit">
    </form>
    
        
        {% block body %}
            
        {% endblock body %}
            
</body>
</html>