{% extends 'index.html' %}


{% block body %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" id="">
        <input type="password" name="password" id="" placeholder="Password"><br>
        <input type="submit" value="Login">

    </form>

    <div>
        
        {% for message in messages %}

            {{message}}
            
        {% endfor %}
            
    </div>

{% endblock body %}
    